.searchBarContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.searchBarTextFieldContainer input{
    width: 100%;
}

.pokemonNameOptionsContainer{
    background-color: rgb(224, 224, 224);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .searchBarContainer{
        flex-direction: row;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .searchBarContainer{
        flex-direction: row;
    }  
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {

  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {

  }