.card{
    display: block;
    text-align: center;
    border: 2px solid rgb(219, 219, 219);
    padding: 2%;
}

.cardTitle{
    font-size: 2rem;
}

.cardTypes{
    display: grid;
    grid-template-columns: auto;
    column-gap: 4rem;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 6%;
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}

.cardTypeTags{
    display: inline-block;
    /* border: 1px solid orange; */
    border-radius: 5px;
    font-size: small;
    padding: 2% 4% 2% 4%;
    text-shadow: 1px 1px 2px black;
    color: white;
}